
$backgroundColor: #bab999;

$fascinate: 'Fascinate', cursive;

body {
  background: $backgroundColor;
  height: 100%;
  font-family: 'Fascinate Inline';font-size: 22px;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h1 {
    font-family: $fascinate;
    font-size: 3vw;
  }

  footer {
    background: lightslategray;
    font-family: 'Fascinate Inline';font-size: 22px;
    border-top: 1px solid #eee;
    padding: 1em;
  }

  header {
    background: lightslategray;
    border-bottom: 1px solid #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fascinate Inline';font-size: 22px;
}